@import "tailwindcss";

* {
  transition: 0.5s;
}
body{
  background-color: #cccccc;
  background-image: linear-gradient(rgb(33, 193, 221), rgb(2, 68, 155));
  margin: 0;
}
h1{
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}
.Box{
  background-color: #ffffff;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  margin-right:8px;
  margin-left: 16px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}
img{
  margin: 0 auto;
}
p{
  font-size: 16px;
  padding:0 8px;
}
.Row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 1100px;
  background-color: #dcebff;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}
.Head-top li{
  float: right;
  padding-right: 24px;
}
.Head-top li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  text-align: right;
  padding: 16px;
}
.Head-top li a:hover{
  text-decoration: underline;
  transition : 0.25s;
  scale:1.1;
}
.Head-top ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.Head-top{
  background-color: #006680;
}
.Search-box{
  margin: 48px auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Search{
  width: 280px;
  padding: 8px;
  border: 1px;
  border-top-left-radius: 16px;
  border-bottom-left-radius:16px ;
  display: inline-block;
  background-color: #B3F0FF;
  text-decoration: none;
}
input{
  border: none;
  border-style: none;
}
.Search-button{
  border-top-right-radius: 16px;
  border-bottom-right-radius:16px ;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
  margin-left: -2px;
  background-color: #B3F0FF;
}